### Data exploration

In [2]:
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [3]:
!ls

cross-validation.ipynb  ml_intro_0.ipynb        ml_missing_values.ipynb
melb_data.csv           ml_intro_1.ipynb        xgboost.ipynb
ml_cat_variables.ipynb  ml_intro_2.ipynb

In [4]:
melbourne_file_path = 'melb_data.csv'

In [5]:
melbourne_data = pd.read_csv(melbourne_file_path)
melbourne_data.shape

(13580, 21)

In [6]:
melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000,13580.000,13580.000,13580.000,13580.000,13580.000,13518.000,13580.000,7130.000,8205.000,13580.000,13580.000,13580.000
mean,2.938,1075684.079,10.138,3105.302,2.915,1.534,1.610,558.416,151.968,1964.684,-37.809,144.995,7454.417
std,0.956,639310.724,5.869,90.677,0.966,0.692,0.963,3990.669,541.015,37.274,0.079,0.104,4378.582
min,1.000,85000.000,0.000,3000.000,0.000,0.000,0.000,0.000,0.000,1196.000,-38.183,144.432,249.000
25%,2.000,650000.000,6.100,3044.000,2.000,1.000,1.000,177.000,93.000,1940.000,-37.857,144.930,4380.000
50%,3.000,903000.000,9.200,3084.000,3.000,1.000,2.000,440.000,126.000,1970.000,-37.802,145.000,6555.000
75%,3.000,1330000.000,13.000,3148.000,3.000,2.000,2.000,651.000,174.000,1999.000,-37.756,145.058,10331.000
max,10.000,9000000.000,48.100,3977.000,20.000,8.000,10.000,433014.000,44515.000,2018.000,-37.409,145.526,21650.000

In [7]:
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [8]:
melbourne_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.000,S,Biggin,3/12/2016,2.500,3067.000,...,1.000,1.000,202.000,nan,nan,Yarra,-37.800,144.998,Northern Metropolitan,4019.000
1,Abbotsford,25 Bloomburg St,2,h,1035000.000,S,Biggin,4/02/2016,2.500,3067.000,...,1.000,0.000,156.000,79.000,1900.000,Yarra,-37.808,144.993,Northern Metropolitan,4019.000
2,Abbotsford,5 Charles St,3,h,1465000.000,SP,Biggin,4/03/2017,2.500,3067.000,...,2.000,0.000,134.000,150.000,1900.000,Yarra,-37.809,144.994,Northern Metropolitan,4019.000
3,Abbotsford,40 Federation La,3,h,850000.000,PI,Biggin,4/03/2017,2.500,3067.000,...,2.000,1.000,94.000,nan,nan,Yarra,-37.797,144.997,Northern Metropolitan,4019.000
4,Abbotsford,55a Park St,4,h,1600000.000,VB,Nelson,4/06/2016,2.500,3067.000,...,1.000,2.000,120.000,142.000,2014.000,Yarra,-37.807,144.994,Northern Metropolitan,4019.000

### Data Prep

In [9]:
#dropping nulls
melbourne_data = melbourne_data.dropna(axis=0)

In [10]:
#Selecting Y variable
y = melbourne_data.Price
y.describe()

count      6196.000
mean    1068828.202
std      675156.428
min      131000.000
25%      620000.000
50%      880000.000
75%     1325000.000
max     9000000.000
Name: Price, dtype: float64

In [11]:
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
X = melbourne_data[melbourne_features]
X.describe()

         Rooms  Bathroom  Landsize  Lattitude  Longtitude
count 6196.000  6196.000  6196.000   6196.000    6196.000
mean     2.931     1.576   471.007    -37.808     144.990
std      0.971     0.711   897.450      0.076       0.099
min      1.000     1.000     0.000    -38.165     144.542
25%      2.000     1.000   152.000    -37.855     144.926
50%      3.000     1.000   373.000    -37.802     144.996
75%      4.000     2.000   628.000    -37.758     145.053
max      8.000     8.000 37000.000    -37.457     145.526

### Data modeling

In [12]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
melbourne_model = DecisionTreeRegressor(random_state=1)

# Fit model
melbourne_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [13]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("")
print("The predictions are")
print(melbourne_model.predict(X.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2     1.000   156.000    -37.808     144.993
2      3     2.000   134.000    -37.809     144.994
4      4     1.000   120.000    -37.807     144.994
6      3     2.000   245.000    -37.802     144.999
7      2     1.000   256.000    -37.806     144.995

The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

## Simple Evaluation

In [15]:
from sklearn.metrics import mean_absolute_error

predicted_home_prices = melbourne_model.predict(X)
mean_absolute_error(y, predicted_home_prices)

1115.7467183128902